In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.formula.api as smf

In [2]:
df=pd.read_csv('auto-mpg.csv')

In [9]:
df['brand']=df.name.apply(lambda d:d.split(' ')[0])
df['brand'].value_counts()

ford             48
chevrolet        43
plymouth         31
dodge            28
amc              27
toyota           25
datsun           23
buick            17
pontiac          16
volkswagen       15
honda            13
mercury          11
mazda            10
oldsmobile       10
fiat              8
peugeot           8
audi              7
vw                6
chrysler          6
volvo             6
opel              4
saab              4
subaru            4
chevy             3
renault           3
maxda             2
cadillac          2
bmw               2
mercedes-benz     2
triumph           1
vokswagen         1
mercedes          1
hi                1
capri             1
chevroelt         1
toyouta           1
nissan            1
Name: brand, dtype: int64

In [10]:
origin={1:'American',2:'European',3:'Japanese'}
df['origin']=df.origin.apply(lambda d:origin[d])

In [4]:
result=smf.ols('mpg ~ origin ', data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.319
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     183.1
Date:                Fri, 17 Feb 2023   Prob (F-statistic):           1.81e-34
Time:                        21:16:08   Log-Likelihood:                -1285.8
No. Observations:                 392   AIC:                             2576.
Df Residuals:                     390   BIC:                             2583.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.8120      0.716     20.676      0.000      13.404      16.220
origin         5.4765      0.405     13.531      0.000       4.681       6.272
==============================================================================
Omnibus:                       26.546   Durbin-Watson:                   0.829
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.323
Skew:                           0.678   Prob(JB):                     2.60e-07
Kurtosis:                       3.138   Cond. No.                         4.93
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
pd.get_dummies(df.origin).head()

   American  European  Japanese
0         1         0         0
1         1         0         0
2         1         0         0
3         1         0         0
4         1         0         0

In [12]:
df=df.merge(pd.get_dummies(df.origin ),left_index=True,right_index=True)
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
0  18.0          8         307.0       130.0  3504.0          12.0    70
1  15.0          8         350.0       165.0  3693.0          11.5    70
2  18.0          8         318.0       150.0  3436.0          11.0    70
3  16.0          8         304.0       150.0  3433.0          12.0    70
4  17.0          8         302.0       140.0  3449.0          10.5    70

     origin                       name      brand  1  2  3  American  \
0  American  chevrolet chevelle malibu  chevrolet  1  0  0         1
1  American          buick skylark 320      buick  1  0  0         1
2  American         plymouth satellite   plymouth  1  0  0         1
3  American              amc rebel sst        amc  1  0  0         1
4  American                ford torino       ford  1  0  0         1

   European  Japanese
0         0         0
1         0         0
2         0         0
3         0         0
4         0         0

In [13]:
results = smf.ols('mpg ~ Japanese + European', data = df).fit()

In [14]:
df[['mpg','origin']].groupby(by='origin').mean().reset_index()

     origin        mpg
0  American  20.033469
1  European  27.602941
2  Japanese  30.450633

: