# Installing MySQL Connector

In [1]:
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.18.1)

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "3031970"
)

print(new_db)

<mysql.connector.connection.MySQLConnection object at 0x0000025E880C65B0>

# Creating A Database

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE DATABASE newData")

# Check if a database exists

In [2]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

# Creating Tables and Showing Data

In [4]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

# List all tables in newdata database

In [1]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SHOW TABLES")

for x in new_cursor:
    print(x)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

# Add PRIMARY KEY when creating table

In [8]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

# Add PRIMARY KEY if table already exists

In [9]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Inserting data into tables

In [2]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = ("Ronaldo", "CODE12")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "new record inserted")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

# Inserting many records into tables

In [19]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "INSERT INTO students (name, code) VALUES (%s, %s)"
new_vals = [
    ("Messi", "CODE30"),
    ("Pogba", "CODE06"),
    ("SALAH", "CODE11"),
    ("Someone", "CODE110")
]

new_cursor.executemany(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records inserted")

4 records inserted

# Select Table's data

In [20]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)
('Ronaldo', 'CODE12', 2)
('Ronaldo', 'CODE12', 3)
('Ronaldo', 'CODE12', 4)
('Messi', 'CODE30', 5)
('Pogba', 'CODE06', 6)
('SALAH', 'CODE11', 7)
('Someone', 'CODE110', 8)
('Messi', 'CODE30', 9)
('Pogba', 'CODE06', 10)
('SALAH', 'CODE11', 11)
('Someone', 'CODE110', 12)
('Messi', 'CODE30', 13)
('Pogba', 'CODE06', 14)
('SALAH', 'CODE11', 15)
('Someone', 'CODE110', 16)
('Messi', 'CODE30', 17)
('Pogba', 'CODE06', 18)
('SALAH', 'CODE11', 19)
('Someone', 'CODE110', 20)

# Select data from columns

In [2]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT name FROM students")

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo',)
('Ronaldo',)
('Ronaldo',)
('Ronaldo',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)
('Messi',)
('Pogba',)
('SALAH',)
('Someone',)

In [3]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchone()

print(new_data)

('Ronaldo', 'CODE12', 1)

# Filter the result

In [6]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE code = 'CODE06'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'CODE06', 6)
('Pogba', 'CODE06', 10)
('Pogba', 'CODE06', 14)
('Pogba', 'CODE06', 18)

In [9]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students WHERE name LIKE '%Pogba%'"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Pogba', 'CODE06', 6)
('Pogba', 'CODE06', 10)
('Pogba', 'CODE06', 14)
('Pogba', 'CODE06', 18)

# Sorting results

In [16]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('Messi', 'CODE30', 5)
('Messi', 'CODE30', 9)
('Messi', 'CODE30', 13)
('Messi', 'CODE30', 17)
('Ronaldo', 'CODE12', 1)
('Ronaldo', 'CODE12', 2)
('Ronaldo', 'CODE12', 3)
('Ronaldo', 'CODE12', 4)
('Someone', 'CODE110', 8)
('Someone', 'CODE110', 12)
('Someone', 'CODE110', 16)
('Someone', 'CODE110', 20)
('SALAH', 'CODE11', 7)
('SALAH', 'CODE11', 11)
('SALAH', 'CODE11', 15)
('SALAH', 'CODE11', 19)
('Pogba', 'CODE06', 6)
('Pogba', 'CODE06', 10)
('Pogba', 'CODE06', 14)
('Pogba', 'CODE06', 18)

# Deleting records

In [18]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DELETE FROM students WHERE name = %s"
name = ("Messi",)

new_cursor.execute(new_sql, name)

new_db.commit()

print(new_cursor.rowcount, "records deleted from students from newdata")

4 records deleted from newdata

# Deleting table

In [21]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "DROP TABLE IF EXISTS clients"

new_cursor.execute(new_sql)

# Updating table

In [22]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "UPDATE students SET code = %s WHERE code = %s"
new_vals = ("CODE12", "CODE07")

new_cursor.execute(new_sql, new_vals)

new_db.commit()

print(new_cursor.rowcount, "records changed in students table!")

4 records changed in students table!

# Limit the records

In [29]:
import mysql.connector

new_db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "98765",
    database = "newdata"
)

new_cursor = new_db.cursor()

new_sql = "SELECT * FROM students LIMIT 4 OFFSET 5"

new_cursor.execute(new_sql)

new_data = new_cursor.fetchall()

for x in new_data:
    print(x)

('SALAH', 'CODE11', 7)
('Someone', 'CODE110', 8)
('Pogba', 'CODE06', 10)
('SALAH', 'CODE11', 11)