In [2]:
import mysql.connector

In [11]:
new_db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="3031970",
    database="mydata"
)
new_cursor=new_db.cursor()
#new_cursor.execute("CREATE DATABASE mydata")

In [12]:
new_cursor.execute("SHOW DATABASES")
for n in new_cursor:
    print(n)

('carrefour',)
('information_schema',)
('mydata',)
('mysql',)
('new_schema',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [13]:
new_db=mysql.connector.connect(
    host="localhost",
    user="root",
    password="3031970",
    database='mydata'

)
new_cursor=new_db.cursor()
new_cursor.execute("CREATE TABLE students(name VARCHAR (255),code VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'students' already exists

In [18]:
new_cursor.execute('SHOW TABLES')
for x in new_cursor:
    print(x)

('clients',)
('students',)

ADD  primary key if table is already exists

In [19]:

new_cursor=new_db.cursor()
new_cursor.execute("CREATE TABLE clients(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255),code varchar(255))")

ProgrammingError: 1050 (42S01): Table 'clients' already exists

In [20]:
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY ")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

Inserting data into tables

In [23]:
new_sql="INSERT INTO STUDENTS (name,code) VALUES (%s, %s)"
new_vals=('Ronaldo','CODE34')
new_cursor.execute(new_sql,new_vals)
new_db.commit()
print(new_cursor._rowcount,"new record inserted")

1 new record inserted

In [27]:
new_sql="INSERT INTO STUDENTS (name,code) VALUES (%s, %s)"
new_vals=[
    ("messi","CODE44"),
    ("me","CODE45"),
    ("mbpape","CODE43"),
    ("neymar","CODE42")
]
new_cursor.executemany(new_sql,new_vals)

new_db.commit()
print(new_cursor._rowcount,"new record inserted")

4 new record inserted

In [33]:
new_cursor.execute('SELECT * from STUDENTS')
newdata=new_cursor.fetchall()
for x in newdata:
    print(x)

('Ronaldo', 'CODE34', 1)
('Ronaldo', 'CODE34', 2)
('messi', 'CODE44', 3)
('me', 'CODE45', 4)
('mbpape', 'CODE43', 5)
('neymar', 'CODE42', 6)
('messi', 'CODE44', 7)
('me', 'CODE45', 8)
('mbpape', 'CODE43', 9)
('neymar', 'CODE42', 10)
('messi', 'CODE44', 11)
('me', 'CODE45', 12)
('mbpape', 'CODE43', 13)
('neymar', 'CODE42', 14)